@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .runningbar {
        animation: scroll 20s linear infinite alternate;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translate(-100%);
        }
    }
}
